header {
        background-color: #000000;
        color: white;
        display:block;
        height: 100%;
        width: auto;
        margin:auto        

}
li a {
        text-decoration: none;
        padding: 40px;
}