#body   {
        background-color:rgb(208, 35, 35);
        }

#geral {
          width: 100%;
          height: 700px;
          background: #FFF;  
        }    

#topo {
        width: 100%;
        height: 20%;
        background: #0f0;
        }        

#lado {
        float:left;
        width: 20%;
        height: 68%;
        background: #CCC;
}

#meio {
    float: left;
    width: 80%;
    height: 60%;
    background: #F0f;
        }

#rodape {
    width: 100%;
    height: 20%;
    background: #FF0;
    
}        